[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/Vim-Tomorrow-Theme"]
	path = bundle/Vim-Tomorrow-Theme
	url = git://github.com/programble/Vim-Tomorrow-Theme.git
[submodule "bundle/vim-pasta"]
	path = bundle/vim-pasta
	url = https://github.com/sickill/vim-pasta.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "bundle/ooc.vim"]
	path = bundle/ooc.vim
	url = git://github.com/programble/ooc.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/gundo.vim"]
	path = bundle/gundo.vim
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/itchy.vim"]
	path = bundle/itchy.vim
	url = git://github.com/programble/itchy.vim.git
[submodule "bundle/webapi-vim"]
	path = bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "bundle/refheap.vim"]
	path = bundle/refheap.vim
	url = https://github.com/Raynes/refheap.vim.git
[submodule "bundle/base16-vim"]
	path = bundle/base16-vim
	url = https://github.com/programble/base16-vim.git
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
