[user]
	name = Curtis McEnroe
	email = programble@gmail.com
[core]
	editor = vim
[push]
	default = simple
[rebase]
	autosquash = true
[pretty]
	log = %Cred%h %Creset%s%C(yellow)%d %Cgreen(%ar) %Cblue<%an>
