/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

@import url("cgit.css");

* { line-height: 1.25em; }

div#cgit {
	max-width: 117ch;
	margin: auto;
	font-family: monospace;
	-moz-tab-size: 4;
	tab-size: 4;
}

div#cgit table#header td.logo {
	display: none;
}
div#cgit table#header td.sub {
	border-top: none;
}
div#cgit table.tabs {
	border-bottom: none;
}
div#cgit div.content {
	border-bottom: none;
}
div#cgit table.list th a {
	color: inherit;
}
div#cgit table.list tr:nth-child(even) {
	background: inherit;
}
div#cgit table.list tr:hover {
	background: inherit;
}
div#cgit table.list tr.nohover-highlight:hover:nth-child(even) {
	background: inherit;
}

div#cgit table.blob td.linenumbers a:target {
	color: goldenrod;
	text-decoration: underline;
	outline: none;
}

div#cgit div#summary {
	max-width: 80ch;
}

/* from hi(1) */
div#cgit .hi.Keyword { color: dimgray; }
div#cgit .hi.Macro { color: green; }
div#cgit .hi.Tag { color: inherit; text-decoration: underline; }
div#cgit .hi.String { color: teal; }
div#cgit .hi.Format { color: teal; font-weight: bold; }
div#cgit .hi.Interp { color: olive; }
div#cgit .hi.Comment { color: navy; }
div#cgit .hi.Todo { color: navy; font-weight: bold; }
div#cgit .hi.DiffOld { color: red; }
div#cgit .hi.DiffNew { color: green; }
div#cgit .hi.Tag:target { color: goldenrod; outline: none; }

/* from mandoc(1) */
table.head, table.foot { width: 100%; }
td.head-rtitle, td.foot-os { text-align: right; }
td.head-vol { text-align: center; }
div.Pp { margin: 1ex 0ex; }
div.Nd, div.Bf, div.Op { display: inline; }
span.Pa, span.Ad { font-style: italic; }
span.Ms { font-weight: bold; }
dl.Bl-diag > dt { font-weight: bold; }
code.Nm, code.Fl, code.Cm, code.Ic, code.In, code.Fd, code.Fn,
code.Cd { font-weight: bold; font-family: inherit; }

table.Nm td:first-child { padding-right: 1ch; }
code.Fl { white-space: nowrap; }
dl.Bl-tag:not(.Bl-compact) dt { margin-top: 1em; }
div.Bd-indent { margin-left: 4ch; }
table.foot { margin-top: 1em; }

div#cgit a.permalink { color: inherit; }
